.Dashboard {
  padding-bottom: 40px;
}

.Dashboard .block-1 {
  background: #72b78c;
  color: #ffffff;
}

.Dashboard .block-2 {
  background: #f4b365;
  color: #ffffff;
}

.Dashboard .small-box {
  border-radius: 2px;
  box-shadow: 0 3px 6px #EDEFF0;
  border: 1px solid #EDEFF0;
  padding: 5px 5px;
}

.Dashboard .small-box:first-child {
  margin-bottom: 26px;
}

.Dashboard .small-box h3 {
  /*display: block;*/
  font-size: 35px;
}

.Dashboard .small-box p {
  float: right;
  margin-bottom: 0;
}

.Dashboard .card {
  margin: 0 0 25px 0;
}

.Dashboard .current-date {
  margin-bottom: 0;
}

.Dashboard .nav {
  display: inline-flex;
  padding: 0 55px 0 0;
  margin-bottom: 30px;
}

.Dashboard .location {
  font: 14px/19px Open Sans;
  color: #0254A3;
}

.Dashboard h1 {
  font: Bold 20px/27px Open Sans;
  letter-spacing: 0;
  color: #353434;
}

.Dashboard .small-green {
  font: 400 20px/27px Open Sans;
  color: #02A33D;
}

.mobile .Dashboard .small-box:first-child {
  margin-bottom: 0;
}

.mobile .Dashboard p {
  margin-top: 0;
  margin-bottom: 0;
}

.mobile .PeriodFilter {
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: flex-start;
}

.mobile .table thead th {
  border: unset;
  padding: 9px;
  font-size: 12px;
}

.Dashboard .mobile .small-box p {
  float: right;
  margin-bottom: 0;
  font-size: 12px;
}


.Dashboard .mobile .small-box {

  position: relative;
  display: block;
  box-shadow: 0 3px 6px #EDEFF0;
  border: 1px solid #EDEFF0;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.Dashboard .mobile .small-box h3 {
  font-size: 26px;
  display: inline-block;
}

.Dashboard .content {
  background: #ffffff;
}

.Dashboard .PeriodFilter {
  margin: 10px 0 15px 0;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.Dashboard .chart {
  position: relative;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}


.open-box:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  left: 0;
  right: 0;
  margin: 0 0 0 50px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.open-box--left:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  left: 0;
  right: 0;
  margin: 5px 0 0 50px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.open-box--right:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  /* left: 0; */
  right: 0;
  margin: 5px 50px 0 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.open-box--center:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -20px;
  margin: 5px 50% 0 50%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
}

.right {
  right: 40px;
}

.Dashboard .mobile .footer {
  height: 49px;
  background: #fbfbfb;
  position: absolute;
  bottom: 0;
  width: 100%;
}